#### Data Merging, Cleaning and taking majority vote

In [1]:
import pandas as pd

In [2]:
df_Vineet= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\Annotation_Task_VineetB_204.xlsx')

In [3]:
df_Vineet.head()

                FileName  Label_Tree  Label_Mythical  Label_Animal
0        01_binladen.jpg           1             1.0             1
1  01_binladen_part1.jpg           0             1.0             1
2  01_binladen_part2.jpg           1             1.0             0
3  01_binladen_part3.jpg           0             0.0             0
4  01_binladen_part4.jpg           0             0.0             1

In [4]:
df_Vineet.columns

Index(['FileName', 'Label_Tree', 'Label_Mythical', 'Label_Animal'], dtype='object')

In [5]:
df_Wang= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\Annotation_Wang_Yudan_204.xlsx')

In [6]:
df_Wang.head()

                    Name  Label_Tree  Label_Mythical  Label_Animal
0        01_binladen.jpg         1.0             1.0           1.0
1  01_binladen_part1.jpg         1.0             0.0           1.0
2  01_binladen_part2.jpg         1.0             1.0           0.0
3  01_binladen_part3.jpg         0.0             0.0           1.0
4  01_binladen_part4.jpg         0.0             1.0           0.0

In [7]:
df_Wang.columns

Index(['Name', 'Label_Tree', 'Label_Mythical', 'Label_Animal'], dtype='object')

In [8]:
df_agg= pd.DataFrame()
df_agg[['FileName', 'Tree_Vineet']]= df_Vineet[['FileName', 'Label_Tree' ]]

In [9]:
df_agg.head()

                FileName  Tree_Vineet
0        01_binladen.jpg            1
1  01_binladen_part1.jpg            0
2  01_binladen_part2.jpg            1
3  01_binladen_part3.jpg            0
4  01_binladen_part4.jpg            0

In [10]:
len(df_agg)

203

In [11]:
df_agg['Tree_Wang']= df_Wang['Label_Tree']

In [12]:
df_agg.head()

                FileName  Tree_Vineet  Tree_Wang
0        01_binladen.jpg            1        1.0
1  01_binladen_part1.jpg            0        1.0
2  01_binladen_part2.jpg            1        1.0
3  01_binladen_part3.jpg            0        0.0
4  01_binladen_part4.jpg            0        0.0

In [13]:
df_Mayuri= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\Image Annotation - Mayuri_204.xlsx')

df_agg['Tree_Mayuri']= df_Mayuri['Label_Tree']

print(df_Mayuri.columns)
df_agg.head()

Index(['FileName', 'Label_Tree', 'Label_Mythical', 'Label_Animal'], dtype='object')

                FileName  Tree_Vineet  Tree_Wang  Tree_Mayuri
0        01_binladen.jpg            1        1.0            1
1  01_binladen_part1.jpg            0        1.0            1
2  01_binladen_part2.jpg            1        1.0            0
3  01_binladen_part3.jpg            0        0.0            0
4  01_binladen_part4.jpg            0        0.0            1

In [14]:
df_Anthony= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\mgs662 hw1_204.xlsx')

df_agg['Tree_Anthony']= df_Anthony['Label_Tree']

print(df_Anthony.columns)
df_agg.head()

Index(['FileName', 'Label_Tree', 'Label_Mythical', 'Label_Animal'], dtype='object')

                FileName  Tree_Vineet  Tree_Wang  Tree_Mayuri  Tree_Anthony
0        01_binladen.jpg            1        1.0            1             1
1  01_binladen_part1.jpg            0        1.0            1             1
2  01_binladen_part2.jpg            1        1.0            0             0
3  01_binladen_part3.jpg            0        0.0            0             0
4  01_binladen_part4.jpg            0        0.0            1             1

In [15]:
df_Zhong= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\ZhongchangSun_Annotation_204.xlsx')

df_agg['Tree_Zhong']= df_Zhong['Label_Tree']

print(df_Zhong.columns)
df_agg.head()

Index(['FileName', 'Label_Tree', 'Label_Mythical ', 'Label_Animal'], dtype='object')

,FileName,Tree_Vineet,Tree_Wang,Tree_Mayuri,Tree_Anthony,Tree_Zhong
0,01_binladen.jpg,1,1.0,1,1,1
1,01_binladen_part1.jpg,0,1.0,1,1,1
2,01_binladen_part2.jpg,1,1.0,0,0,1
3,01_binladen_part3.jpg,0,0.0,0,0,0
4,01_binladen_part4.jpg,0,0.0,1,1,0

In [16]:
df_Zixia= pd.read_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\Zixia_Meng_204.xlsx')

df_agg['Tree_Zixia']= df_Zixia['Label_Tree']

print(df_Zixia.columns)
df_agg.head()

Index(['FileName', 'Label_Tree', 'Label_Mythical', 'Label_Animal',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

,FileName,Tree_Vineet,Tree_Wang,Tree_Mayuri,Tree_Anthony,Tree_Zhong,Tree_Zixia
0,01_binladen.jpg,1,1.0,1,1,1,1.0
1,01_binladen_part1.jpg,0,1.0,1,1,1,0.0
2,01_binladen_part2.jpg,1,1.0,0,0,1,1.0
3,01_binladen_part3.jpg,0,0.0,0,0,0,1.0
4,01_binladen_part4.jpg,0,0.0,1,1,0,0.0

In [17]:
df_agg.shape[1]

7

In [18]:
df_agg.iloc[0,1]

1

In [19]:
#So now we have randomly picked 6 annotators 
#we will now take majority vote on each of the file rows in the df_agg above
#an aggregate score>=3 for each file will lead to a 1 else 0
#df_tree_final= pd.DataFrame]
list_votesum=[]
for rows in range(len(df_agg)):
    vote_sum=0
    for columns in range(1, df_agg.shape[1]):
        a= df_agg.iloc[rows, columns]
        vote_sum= vote_sum + a
               
    #majority vote logic
    if vote_sum>3 :
        vote_sum= 1
    else:
        vote_sum= 0
    list_votesum.append(vote_sum)

df_agg['votesum']= list_votesum

In [20]:
df_agg.head()

,FileName,Tree_Vineet,Tree_Wang,Tree_Mayuri,Tree_Anthony,Tree_Zhong,Tree_Zixia,votesum
0,01_binladen.jpg,1,1.0,1,1,1,1.0,1
1,01_binladen_part1.jpg,0,1.0,1,1,1,0.0,1
2,01_binladen_part2.jpg,1,1.0,0,0,1,1.0,1
3,01_binladen_part3.jpg,0,0.0,0,0,0,1.0,0
4,01_binladen_part4.jpg,0,0.0,1,1,0,0.0,0

In [21]:
df_final= pd.DataFrame()
df_final[["FileName", "Voted_Tree"]]= df_agg[["FileName", "votesum"]]
df_final.head()

                FileName  Voted_Tree
0        01_binladen.jpg           1
1  01_binladen_part1.jpg           1
2  01_binladen_part2.jpg           1
3  01_binladen_part3.jpg           0
4  01_binladen_part4.jpg           0

In [22]:
df_agg_mythchar=pd.DataFrame()
df_agg_mythchar["FileName"]=df_Vineet["FileName"]

In [23]:
df_agg_mythchar['MythChar_Vineet']= df_Vineet['Label_Mythical']
df_agg_mythchar['MythChar_Wang']= df_Wang['Label_Mythical']
df_agg_mythchar['MythChar_Mayuri']= df_Mayuri['Label_Mythical']
df_agg_mythchar['MythChar_Anthony']= df_Anthony['Label_Mythical']
df_agg_mythchar['MythChar_Zhong']= df_Zhong['Label_Mythical ']
df_agg_mythchar['MythChar_Zixia']= df_Zixia['Label_Mythical']


df_agg_mythchar.head()

,FileName,MythChar_Vineet,MythChar_Wang,MythChar_Mayuri,MythChar_Anthony,MythChar_Zhong,MythChar_Zixia
0,01_binladen.jpg,1.0,1.0,0,0,1,1.0
1,01_binladen_part1.jpg,1.0,0.0,1,1,1,0.0
2,01_binladen_part2.jpg,1.0,1.0,0,1,1,1.0
3,01_binladen_part3.jpg,0.0,0.0,0,0,0,0.0
4,01_binladen_part4.jpg,0.0,1.0,0,0,0,0.0

In [24]:
#So from the randomly picked annotators 
#we will now take majority vote on each of the file rows in the df_agg above
#an aggregate score>=3 for each file will lead to a 1 else 0

list_votesum=[]
for rows in range(len(df_agg_mythchar)):
    vote_sum=0
    for columns in range(1, df_agg_mythchar.shape[1]):
        a= df_agg_mythchar.iloc[rows, columns]
        vote_sum= vote_sum + a
               
    #majority vote logic
    if vote_sum>3 :
        vote_sum= 1
    else:
        vote_sum= 0
    list_votesum.append(vote_sum)

df_agg_mythchar['votesum']= list_votesum

In [25]:
df_agg_mythchar.head()

,FileName,MythChar_Vineet,MythChar_Wang,MythChar_Mayuri,MythChar_Anthony,MythChar_Zhong,MythChar_Zixia,votesum
0,01_binladen.jpg,1.0,1.0,0,0,1,1.0,1
1,01_binladen_part1.jpg,1.0,0.0,1,1,1,0.0,1
2,01_binladen_part2.jpg,1.0,1.0,0,1,1,1.0,1
3,01_binladen_part3.jpg,0.0,0.0,0,0,0,0.0,0
4,01_binladen_part4.jpg,0.0,1.0,0,0,0,0.0,0

In [26]:
#adding the result to our final dataset
df_final["Voted_MythChar"]= df_agg_mythchar["votesum"]
df_final.head(10)

                FileName  Voted_Tree  Voted_MythChar
0        01_binladen.jpg           1               1
1  01_binladen_part1.jpg           1               1
2  01_binladen_part2.jpg           1               1
3  01_binladen_part3.jpg           0               0
4  01_binladen_part4.jpg           0               0
5  01_binladen_part5.jpg           1               0
6          03_manasa.jpg           0               1
7    03_manasa_part1.jpg           0               0
8    03_manasa_part2.jpg           0               0
9    03_manasa_part3.jpg           0               0

In [27]:
df_agg_animal=pd.DataFrame()
df_agg_animal["FileName"]=df_Vineet["FileName"]

In [28]:
df_agg_animal['MythChar_Vineet']= df_Vineet['Label_Animal']
df_agg_animal['MythChar_Wang']= df_Wang['Label_Animal']
df_agg_animal['MythChar_Mayuri']= df_Mayuri['Label_Animal']
df_agg_animal['MythChar_Anthony']= df_Anthony['Label_Animal']
df_agg_animal['MythChar_Zhong']= df_Zhong['Label_Animal']
df_agg_animal['MythChar_Zixia']= df_Zixia['Label_Animal']


df_agg_animal.head()

,FileName,MythChar_Vineet,MythChar_Wang,MythChar_Mayuri,MythChar_Anthony,MythChar_Zhong,MythChar_Zixia
0,01_binladen.jpg,1,1.0,1,0,1,1.0
1,01_binladen_part1.jpg,1,1.0,0,1,0,1.0
2,01_binladen_part2.jpg,0,0.0,0,0,0,0.0
3,01_binladen_part3.jpg,0,1.0,0,0,0,1.0
4,01_binladen_part4.jpg,1,0.0,1,1,0,1.0

In [29]:
#So from the randomly picked annotators 
#we will now take majority vote on each of the file rows in the df_agg above
#an aggregate score>=3 for each file will lead to a 1 else 0

list_votesum=[]
for rows in range(len(df_agg_animal)):
    vote_sum=0
    for columns in range(1, df_agg_animal.shape[1]):
        a= df_agg_animal.iloc[rows, columns]
        vote_sum= vote_sum + a
               
    #majority vote logic
    if vote_sum>3 :
        vote_sum= 1
    else:
        vote_sum= 0
    list_votesum.append(vote_sum)

df_agg_animal['votesum']= list_votesum

In [30]:
df_agg_animal.head()

,FileName,MythChar_Vineet,MythChar_Wang,MythChar_Mayuri,MythChar_Anthony,MythChar_Zhong,MythChar_Zixia,votesum
0,01_binladen.jpg,1,1.0,1,0,1,1.0,1
1,01_binladen_part1.jpg,1,1.0,0,1,0,1.0,1
2,01_binladen_part2.jpg,0,0.0,0,0,0,0.0,0
3,01_binladen_part3.jpg,0,1.0,0,0,0,1.0,0
4,01_binladen_part4.jpg,1,0.0,1,1,0,1.0,1

In [31]:
#adding the result to our final dataset
df_final["Voted_Animal"]= df_agg_animal["votesum"]
df_final.head(10)

                FileName  Voted_Tree  Voted_MythChar  Voted_Animal
0        01_binladen.jpg           1               1             1
1  01_binladen_part1.jpg           1               1             1
2  01_binladen_part2.jpg           1               1             0
3  01_binladen_part3.jpg           0               0             0
4  01_binladen_part4.jpg           0               0             1
5  01_binladen_part5.jpg           1               0             1
6          03_manasa.jpg           0               1             1
7    03_manasa_part1.jpg           0               0             0
8    03_manasa_part2.jpg           0               0             0
9    03_manasa_part3.jpg           0               0             1

#### our dataset is ready
##### exporting the resultant dataframe to excel

In [32]:
df_final.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\ImageAnnotation_MGS662 (1)\ImageAnnotation_MGS662\Annotation_Task_majvote.xlsx', index = False)

### Extracting those tree type file names that had class=1

In [33]:
list1=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,1]== 1:
        a= df_final.iloc[rows,0]
        list1.append(a)

In [34]:
df_tree_Class1= pd.DataFrame()
df_tree_Class1['Class1_tree_File']= list1

In [35]:
df_tree_Class1.head()

        Class1_tree_File
0        01_binladen.jpg
1  01_binladen_part1.jpg
2  01_binladen_part2.jpg
3  01_binladen_part5.jpg
4        04_binladen.jpg

In [36]:
df_tree_Class1.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_tree\tree_Class_1.xlsx', index = False)

### Extracting those tree type file names that had class=0

In [37]:
list0=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,1]== 0:
        a= df_final.iloc[rows,0]
        list0.append(a)
        
df_tree_Class0= pd.DataFrame()
df_tree_Class0['Class0_tree_File']= list0


df_tree_Class0.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_tree\tree_Class_0.xlsx', index = False)

In [38]:
df_tree_Class0.shape

(139, 1)

### Extracting those MythChar type file names that had class=1

In [42]:
list1=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,2]== 1:
        a= df_final.iloc[rows,0]
        list1.append(a)

df_mythchar_Class1= pd.DataFrame()
df_mythchar_Class1['Class1_mythchar_File']= list1

df_mythchar_Class1.head()

df_mythchar_Class1.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_mythchar\mythchar_Class_1.xlsx', index = False)

In [43]:
df_mythchar_Class1.head()

    Class1_mythchar_File
0        01_binladen.jpg
1  01_binladen_part1.jpg
2  01_binladen_part2.jpg
3          03_manasa.jpg
4    03_manasa_part4.jpg

In [44]:
df_mythchar_Class1.shape

(74, 1)

### Extracting those MythChar type file names that had class=0

In [45]:
list1=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,2]== 0:
        a= df_final.iloc[rows,0]
        list1.append(a)

df_mythchar_Class0= pd.DataFrame()
df_mythchar_Class0['Class0_mythchar_File']= list1

df_mythchar_Class0.head()

df_mythchar_Class0.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_mythchar\mythchar_Class_0.xlsx', index = False)

In [47]:
df_mythchar_Class0.shape

(129, 1)

### Extracting those animal type file names that had class=1

In [48]:
list1=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,3]== 1:
        a= df_final.iloc[rows,0]
        list1.append(a)

df_animal_Class1= pd.DataFrame()
df_animal_Class1['Class1_animal_File']= list1

df_animal_Class1.head()

df_animal_Class1.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_animal\animal_Class_1.xlsx', index = False)

In [51]:
df_animal_Class1.shape

(84, 1)

### Extracting those MythChar type file names that had class=0

In [52]:
list1=[]
for rows in range(len(df_final)):
    if df_final.iloc[rows,3]== 0:
        a= df_final.iloc[rows,0]
        list1.append(a)

df_animal_Class0= pd.DataFrame()
df_animal_Class0['Class0_animal_File']= list1

df_animal_Class0.head()

df_animal_Class0.to_excel(r'D:\Syllabus and guidelines\662- Optimization Methods in ML\Project1\train_animal\animal_Class_0.xlsx', index = False)

In [53]:
df_animal_Class0.shape

(119, 1)